@*For local binding*@

@using PivotTest.Models;
@using Kendo.Mvc.Extensions;
@using Kendo.Mvc.UI;

@model IEnumerable<ResponseReportPivot>

@{
    ViewBag.Title = "Response Report Pivot Grid";
}
@Html.AntiForgeryToken()

<style>
    .k-pivot-table .k-grid-content td {
        text-align: left;
    }
</style>

<button id="export" class="hidden-on-narrow">Export to Excel</button>
<button id="refresh" class="hidden-on-narrow">Refresh Data</button>

<hr class="k-hr" />

@*@{
    var data = Model;
}*@

<div class="k-pivotgrid-wrapper">

    @(Html.Kendo().PivotConfigurator()
        .Name("configurator")
        .HtmlAttributes(new { @class = "hidden-on-narrow" })
        .Filterable(true)
        .Sortable(true)
        .Height(570)
        )

    @(Html.Kendo().PivotGrid<ResponseReportPivot>()
        .Name("pivotgrid")
        .Excel(excel => excel
        .FileName(ViewBag.ExportName)
        .Filterable(true)
        .ProxyURL(Url.Action("_ExcelExport", "ResponseReportPivotController"))
        )
        .Configurator("#configurator")
        .ColumnWidth(150)
        .Filterable(true)
        .Height(570)
        .Sortable(true)
        .BindTo(Model)
        .DataSource(dataSource => dataSource
        .Ajax()
        .Sort(s =>
        {
            s.Add("Venue").Ascending();
            s.Add("EventYear").Ascending();
        })
        .Schema(schema => schema
        .Cube(cube => cube
        .Dimensions(dimensions =>
        {
            dimensions.Add(model => model.Venue).Caption("All Venues");
            dimensions.Add(model => model.EventYear).Caption("All Years");
        })
        .Measures(measures =>
        {
            measures.Add("Count").Field(model => model.Venue).AggregateName("count");
        })
        )
        )
        .Columns(columns =>
        {
            columns.Add("EventYear").Expand(true);
        })
        .Rows(rows => rows.Add("Venue").Expand(true))
        .Measures(measures => measures.Values("Count"))
        .Events(e => e.Error("onError"))
        )
    )
</div>
<div class="responsive-message"></div>

@*<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#export").kendoButton({
            icon: "file-xls",
            click: function () {
                $("#pivotgrid").getKendoPivotGrid().saveAsExcel();
            }
        });

        $("#refresh").kendoButton({
            icon: "refresh",
            click: function () {
                var pivot = $("#pivotgrid").getKendoPivotGrid();
                var measures = pivot.dataSource.measures();
                $.ajax({
                    url: "@Url.Action("_ReadData", "ResponseReportPivot")",
                    type: "POST",
                    success: function (response) {
                        pivot.dataSource.data(response);
                        pivot.dataSource.measures(measures);
                    }
                })
            }
        });
    });

    function onError(e) {
        alert("error: " + kendo.stringify(e.errors[0]));
    }
</script>